@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "poppins",sans-serif;
    box-sizing: border-box;
    color: white;
}

body{
    width: 100%;
    height: 100vh;
    background-color: black; 
}

.body{
    width: 100%;
    height: 100%;
}

html{
    scroll-behavior: smooth;
}

nav{
    width: 100%;
    height: 10vh;
}

.nav-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.logo span{
    color: rgb(211, 3, 3);
    text-shadow: 0 0 10px rgb(211, 3, 3);
    padding-left: 8px;
}

.edu-title{
    padding: 10px;
}

.hamburg,
.xmark{
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
    color: white;
    display: none;
    font-size: clamp(2.5rem,0.5rem+5vw,3rem);
}

.nav-container .links{
    display: flex;
}

.nav-container .links a{
    font-size: 1.2rem;
    color: white;
    margin: 0 20px;
    text-decoration: none;
    font-weight: 550;
    transition:0.3s linear;
}

.nav-container .links a:hover{
    color:rgb(255, 230, 0) ;
    border-bottom: 2px solid rgb(211, 3, 3);
}

.dropdown{
    z-index: 100;
    position: absolute;
    top: 0;
    transform: translateY(-500px);
    width: 100%;
    height: auto;
    backdrop-filter: blur(4px)brightness(40%);
    box-shadow: 0 0 20px black;
    transition: 0.2s linear;
}

.dropdown .links a{
    display: flex;
    color: white;
    text-decoration: none;
    padding: 15px 0;
    justify-content: center;
    align-items: center;
    transition: 0.2s linear;
}

.dropdown .links a:hover{
    background-color:rgb(211, 3, 3);
}


/* profile section */

.profile {
    display: flex;
    position: relative;
    width: 100%;
    height: 90%;
    align-items: center;
    justify-content: center;
}

.profile-details-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.profile-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.profile-details{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.profile-details p{
    width: 600px;
}

.social-links i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    border: 0.2rem solid rgb(211, 3, 3);
    border-radius: 50%;
    color: rgb(211, 3, 3);
    margin: 8px 8px 8px 11px;
    transition: 0.2s linear;
}

.social-links i:hover{
    scale:1.3;
    filter: drop-shadow(0 0 10px rgb(211, 3, 3));
}

.profile-details .title-head-1{
    font-size: 2rem;
}

.btn1{
    width: 150px;
    height: 32px;
    margin-left: 25px;
    text-decoration: none;
    background-color: rgb(211, 3, 3);
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 95%;
    font-weight: 650;
    transition: 0.15s linear;
    cursor: pointer;
}

.btn1:hover{
    scale: 1.1;
    color: rgb(211, 3, 3);
    border: 2px solid rgb(211, 3, 3);
    background-color: transparent;
    font-weight:700;
    box-shadow: 0px 0px 30px 5px rgb(211, 3, 3);
}

.icon-btn{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}



@keyframes animate{
    0%{
    scale:1;
}
    50%{
    scale:1.05;
}
    100%{
    scale:1;
}

}

/* ABOUT SECTION */
.about{
    position: relative;
    width: 100%;
    height: 100%;

}

.about-title{
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
    font-size: 1.5rem;
}
.edu-title {
    font-size: 2rem;
    color: yellow;
}

.about-container{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    gap: 3rem;
    width: 100%;
}

.about-details-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

.about-summary{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 25px;
    gap: 1rem;
}

.about-details{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
}

.mypic2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    width: 360px;
    height: 350px;
    border-radius: 100%;
    box-shadow: 2px 2px 40px rgb(211, 3, 3);
   
    
}
.mypic2:hover{
    box-shadow:  5px 5px 50px rgb(211, 3, 3);
    border-radius: 100%;
    animation: animate 1.5s ease-in-out infinite;
}

.str{
    color: yellow;
}


.btn2{
    width: 150px;
    height: 32px;
    text-decoration: none;
    background-color: rgb(211, 3, 3);
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 95%;
    font-weight: 650;
    transition: 0.15s linear;
    cursor: pointer;
}

.btn2:hover{
    scale: 1.1;
    color: rgb(211, 3, 3);
    border: 2px solid rgb(211, 3, 3);
    background-color: transparent;
    font-weight:700;
    box-shadow: 0px 0px 30px 5px rgb(211, 3, 3);
}

.education{
    box-shadow: 1.5px 1.5px 8px yellow;
    border-radius: 20px;
    color: white;
    width: 350px;
    height: 100px;
    padding-top: 20px;
    
}


.education h4{
    display: flex;
    justify-content: center;
}

.education-details{
    margin-top: 6px;
    text-align: center;
}

img.education-img{
    width: 22px;
    height: 22px;
    color: white;
    margin-left: 4px;
}

.certification p{
    margin-top: 6px;
}

.certification-img{
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.certification h4{
    display: flex;
    justify-content: center;
}

.about-title span{
    padding: 10px;
}


.certification{
    box-shadow: 1.5px 1.5px 8px yellow;
    border-radius: 20px;
    color: white;
    width: 350px;
    height: 100px;
    padding-top: 10px;
    text-align: center;
}






/* SKILLS SECTION */


.skills{
    width: 100%;
    height: 100%;
}

.skills-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}


.skills-title p{
    font-size: 0.9rem;
}

.skills-container .skills-para{
    font-size: 3rem;
    color: rgb(211, 3, 3);
}

.skills-container h1{
    color: rgb(255, 255, 255);
    font-size: 1.8rem;
}

.skills-container h1 span{
    color: rgb(211, 3, 3);
}

.skills-details{
    background-color: rgb(0, 0, 0);
    align-items: center;
    border: solid 2px;
    border-radius: 20px;
    border-color: rgb(255, 255, 255);
    box-shadow: 1.5px 1.5px 8px rgb(255, 255, 255);
    width: 85%;
    height: 170px;
    align-items: center;
    margin-left: 7%;
    margin-top: 4%;
    padding-top: 20px;
    
}

.skills-details:hover{
    box-shadow: 2px 2px 20px rgb(211, 3, 3);
    transition: 0.50s;
}
.skills-details-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 25px;
}


.skills-details-container div h2{
    color: rgb(255, 230, 0);
    font-size: 1.5rem;
}

.skills-details-container div p{
    font-size: 0.75rem;
    color: rgb(204, 191, 191);
}

.skills-details-container img{
    width: 15px;
    height: auto;
}

.skills-details-container .skills-text{
    margin-left: 20px;
}

.btn3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 155px;
    height: 32px;
    letter-spacing: 1.2px;
    text-decoration: none;
    background-color: rgb(211, 3, 3);
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 95%;
    font-weight: 650;
    transition: 0.15s linear;
    cursor: pointer;

}

.btn3:hover{
    scale: 1.1;
    color: rgb(211, 3, 3);
    border: 2px solid rgb(211, 3, 3);
    background-color: transparent;
    font-weight:700;
    box-shadow: 0px 0px 30px 5px rgb(211, 3, 3);
}

.button-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}



/* PROJECT SECTION */
.projects{
    width: 100%;
    height: 100%;
}
.projects-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}


.projects-heading{
    color: white;
    text-align: center;
}

.projects-heading p{
    font-size: 3rem;
    color: rgb(211, 3, 3);
    font-weight: 600;
}

.projects-heading h4{
    font-size: 1rem;
}
.box-containers img{
    width: 250px;
    height: auto;    
}

.box-containers{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    flex-wrap: wrap;
}



.box-containers .box img{
    border: none;
    border-radius: 30px;
    border-color: white;
    margin-top: 30px;
}

.box {
    border: solid 2px;
    border-radius: 20px;
    border-color: white;
    width: 300px;
    height: 310px;
    text-align: center;
}

.box p{
    padding: 8px;
}

.box:hover{
    box-shadow:  4px 4px 25px rgb(211, 3, 3);
    cursor: pointer;
}

.box button{
    width: 90px;
    height: 30px;
    background-color: rgb(211, 3, 3);
    color: white;
    margin-left: 10px;
    font-weight: 600;
    border-radius: 15px;
    border: none;
}

.box button:hover{
    scale: 1.1;
    color: rgb(211, 3, 3);
    border: 2px solid rgb(211, 3, 3);
    background-color: transparent;
    font-weight:700;
    box-shadow: 0px 0px 30px 5px rgb(211, 3, 3);
    cursor: pointer;
}


/* CONTACT SECTION */

#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
    color: white;
    width: 100%;
    height: 100%;
}

.contact-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-span{
    color: rgb(211, 3, 3);
}

.contact-info-container img{
    width: 40px;
}

.contact-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact-info-upper-container{
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: solid;
    border-width: 1px;
    border-color: rgb(253, 244, 244);
    background: rgb(0, 0, 0);
    color: rgb(248, 242, 242);
    margin: 5rem auto;
    padding: 0.5rem;
    cursor: pointer;
}

.contact-info-upper-container:hover{
    box-shadow:  3px 3px 28px rgb(211, 3, 3);
    transition: 0.5s;
}

.contact-info-container p{
    font-size: larger;
}

.contact-title h1{
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
}

.social-links-1 i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    border: 0.2rem solid rgb(211, 3, 3);
    border-radius: 50%;
    color: rgb(211, 3, 3);
    margin: 8px 8px 8px 11px;
    transition: 0.2s linear;
    margin-left: 15px;
}

.social-links-1 i:hover{
    scale:1.3;
    filter: drop-shadow(0 0 10px rgb(211, 3, 3));
}

.social-links-1{
    display: flex;
    justify-content: center;
}

.footer {
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
}



 @media (max-width:1100px){
     body{
        width: 100%;
     }
    .intro-container{
        display: contents;
    }
    .profile{
        margin-top: 20px;
        width: auto;
        justify-content: center;
        align-items: center;
        height: 90%;
    }
    .profile-container {
        gap: 3rem;
        align-items: center;
    }
    .profile-details-container{
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .btn1{
        margin: 0;
    }

    .about{
        width: 100%;
        height: auto;
        margin-bottom: 50px;
        position: relative;
    }
    .about-summary p{
        width: 900px;
    }

    .content{
        margin-left: 50px;
    }


    .mypic2{
        width: 300px;
        height: 290px;
        margin-left: 30px;
    }

    .about-details {
        word-spacing: 1px;
        font-size: 0.9rem;
        margin-bottom: 20px;
        margin-top: 12px;
        text-align: justify;
        margin-left: 30px;
    }

    .details-container{
        font-size: 0.80rem;
        margin-left: 40px;
    }

    .education, .certification{
        width: 280px;
        height: 75px;
        margin-right: 20px;
        padding-top: 8px;
    }

    .education-details {
        margin-left: 22px;
        width: 240px;
        margin-top: 1px;
    }

    .certification h4{
        margin: 2px 0 0 0;
    }

    .certification p{
        margin: 2px 0 0 0;
    }

    .btn2{
        width: 140px;
        height: 30px;
        padding-top: 6px;
        font-size: 0.9rem;
    }
    .about-content .about-heading{
        margin-top: 60px;
    }

    .btn3{
        margin-top: 0px;
    }

    .skills {
        height: auto;
        width: auto;
    }
    .skills-container h1{
        font-size: 1.5rem;
    }

    .box button {
        width: 85px;
        height: 27px;
    }

    .box {
        width: 270px;
        height: 270px
    }

    .box-containers p{
        font-size: 0.9rem;
    }

    .box-containers{
        justify-content: center;
    }
    .box-containers img {
        width: 230px;
        height: auto;
    }
    .about-container{
        flex-direction: column;
        width: auto;
    }

    .box-containers .box img{
        margin-top: 15px;
    }

}



@media (max-width:770px){
    .links a{
        display: none;
    }
    nav .logo{
        margin-left: 60px;
    }
    .nav-container{
        justify-content: start;
    }
    .hamburg {
        display: block;
        position: absolute;
        top: 20px;
        right: 40px;
    }

    .profile{
        height: auto;
        margin-bottom: 30px;
    }
    .profile-container{
        flex-direction: column-reverse;
        height: auto;
    }
    .about-summary p{
        width: 600px;
        padding: 0 10px;
        text-align: center;
    }
    .mypic2{
        margin: 0;
    }
    .skills-container{
        height: auto;
        margin-bottom: 30px;
    }
    .projects{
        height: auto;
        margin-bottom: 30px;
    }
    .content{
        height: auto;
    }

} 
@media (max-width:600px){
    .about-summary p{
        width: 370;
        font-size: 15px;
    }
    .about-details{
        flex-direction: column;
    }
    .about-summary{
        padding: 0;
    }
    .skills-container h1{
        font-size: 1rem;
    }
    .skills-details-container div h2 {
        font-size: 1.1rem;
    }
    .skills-details-container div p{
        font-size: 0.7rem;
    }
    .skills-details{
        width: 88%;
        height: 135px;
    }
}


@media (max-width:450px){
    .logo{
        font-size: 1.3rem;
    }
    .mypic2{
        width: 200px;
        height: 190px;
    }
    .head-1{
        font-size: 20px;
    }
    .skills-para{
        font-size: 10px;
    }
    .profile-details h4{
        margin-left: 30px;
    }
    .edu-title{
        font-size: 20px;
    }
    .profile-details p{
        width: 300px;
        font-size: 15px;
        margin-left: 20px;
    }

    .skills-container{
        font-size: 0.8rem;
    }

    .skills-container .skills-para{
        font-size: 2rem;
    }
    .profile-details .title-head-1{
        font-size: 1.3rem;
    }

    body{
        justify-content: center;
    }

    .profile-details h1{
        font-size: 1rem
    }

    .profile-details span{
        font-size: 1.1rem;
    }

    .about-summary p{
        width: 300px;
    }

    .about-details{
        flex-direction: column-reverse;
    }

    .contact-info-upper-container{
        flex-direction: column;
    }

    .social-links i{
        width: 1.8rem;
        height: 1.8rem;
    }

    .btn1, .btn3{
        width: 130px;
        height: 30px;
        font-size: 0.9rem;
    }

    .btn2 {
        width: 130px;
        height: 30px;
        font-size: 0.9rem;
        padding-bottom: 6px;
    }

    .projects-heading p{
        font-size: 2rem;
    }

    .projects-heading h4{
        font-size: 0.8rem;
    }
    .contact-title h1{
        font-size: 1.5rem;
    }

    .skills-details-container div h2 {
        font-size: 1rem;
    }
    .skills-details-container div p{
        font-size: 0.6rem;
    }
    .contact-info-container p {
        font-size: unset
    } 
    .skills-details-container {
        margin-top: 8px;
    }
    .hamburg{
        position: absolute;
        top: 25px;

}

@media (max-width:350px){
    .logo{
        font-size: 1rem;
    }

    .contact-info-upper-container{
        flex-direction: column;
        width: 250px;
        padding: 0px;
    }

    .contact-info-container{
        font-size: 0.7rem;
    }

    .contact-info-upper-container img{
        width: 25px;
    }

    .box {
        width: 220px;
        height: 220px;
    }

    .box-containers .box img {
        width: 170px;
    }

    .box-containers p {
        font-size: 0.75rem;
    }

    .contact-info-container p {
        font-size: unset
    } 

 }
 
}